<!DOCTYPE html>
<head>
<title>DiffrSeqDB: MiniSox9 Extension</title>
</head>
<body>
   <iframe src="https://genex.shinyapps.io/Diffrseq/" style="width: 1700px ;height: 1000px; overflow: auto;resize: both;"></iframe>

</body>
</html>

