<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=5,IE=9" ><![endif]-->
<!DOCTYPE html>
<html>
<head>
<title>MiniSOX9 Extension</title>
<meta charset="utf-8"/>
</head>
<iframe src="https://genex.shinyapps.io/Diffrseq/" height="800" width="800" title="MiniSox9 Extension"></iframe>
</div>
</body>
</html>